
@{
    ViewBag.Title = "Index Genero";
}

@model IList<BookReader.Models.Author>
<style>
    body {
        background-color: #EEEC7B7;
    }
</style>


<div class="container">
    <header class="text-center text-white">
        <h1 class="display-4">Autores Cadastrados</h1>
    </header>

    <div class="row " id="GridTable">
        <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                    <table style="width:100%; height:100%" class="table table-striped table-bordered" id="gridAuthor">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Saga Favorita</th>
                                <th scope="col">Livro Fav.</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Detalhes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.Name</td>
                                    <td>@u.MainSaga</td>
                                    <td>@u.FavoriteBook</td>
                                    <td>@u.Genre.Name</td>
                                    <td>@u.Name</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("RegisterAuthor","Author")'" type="button">Cadastrar Novo Autor</button>

</div>



<script>
    $(document).ready(function () {
        var Author = {
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum registro econtrando",
                "info": "Monstrando página _PAGE_ de _PAGES_ </br> Total: _MAX_",
                "infoEmpty": "Não foram encontrados registros",
                "infoFiltered": "(Filtro realizado em _MAX_ total usuários)",
                "search": "Pesquisar",
                "paging": "false",
                "order": [[1, "asc"]],
                "searching": "false",
                "bDestroy": "true",
                "oPaginate": {
                    "sFirst": "Primeira página",
                    "sPrevious": "<<",
                    "sNext": ">>",
                    "sLast": "Última página"
                }
            }
        };

        var dtable = $("#gridAuthor");

        //dtable.dataTable().fnClearTable();
        //dtable.dataTable().fnDestroy();

        dtable.dataTable(Author);
    });

</script>

